@import "vars";
@import "global";

// header
.header {
    background-color: #fff;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;

    span {
        color: $red;
        padding-right: 5px;
    }

    a {
        color: $text;
    }
}

.header__btn {
    font-size: 12px;
    padding: 12px 20px;
    border-radius: 4px;
    color: #fff;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-registr,
.header__btn-logout {
    background-color: #e74c3c;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;
}

.menu {
    height: 60px;
    display: flex;
    align-items: center;

    li {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }
}

.menu a {
    color: #fff;
    font-size: 14px;
}

.header__circle {
    &.active {
        display: block;
    }

    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 400;
    position: relative;

    span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        color: #ffffff;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        right: -4px;
        top: -8px;
    }

    &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.notification {
    span {
        background-color: #fcb322;
    }
}

.message span {
    background-color: #ef6c00;
}

.basket span {
    background-color: #95c85a;
}

.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;



    &__inner {
        display: flex;
        align-items: center;

    }

    &__img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 15px;
    }

    &__name {
        color: #222222;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &__count {
        color: #8bc34a;
        font-size: 14px;
        font-weight: 700;
    }

    &__info {
        margin-left: 15px;
    }
}

.icon-angle-down::before {
    position: absolute;
    right: 0;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
}

.header__btn-login--off,
.header__btn-registr--off {
    display: none;
}

.header__btn-logout {
    display: none;

    &.header__btn-logout--on {
        display: block;
    }
}

.header__box {
    display: flex;
    height: 90px;
    align-items: center;
}

.user__box {
    position: relative;
    height: 90px;
    margin-top: 51px;

    &:hover {
        .user__menu {
            height: auto;
            padding-top: 10px;
            padding-bottom: 15px;
            border: 1px solid #cccccc;
        }
    }
}

.user__menu {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #ffffff;
    padding: 0;
    top: 64px;
    left: 15px;
    transition: all .3s;
    z-index: 5;

    ul {
        li {
            padding: 10px 30px;
            transition: all .5s;

            &:hover {
                background-color: rgba(216, 216, 216, 0.75);
            }

            &:last-child {
                border-bottom: none;
            }

            a {
                color: #546e7a;
                font-size: 12px;
                font-weight: 400;
                position: relative;
            }


        }
    }
}

.icon-angle-right:before {
    position: absolute;
    left: -15px;
}

.basket__box,
.message__box,
.notification__box {
    position: relative;
    margin-left: 15px;
    height: 90px;
    margin-top: 53px;

    &:hover {

        .basket__menu,
        .message__menu,
        .notification__menu {
            height: auto;
            border: 1px solid #cccccc;
            z-index: 10;
        }

        .basket__item,
        .message__item,
        .notification__item {
            padding: 20px 0px 23px 23px;

        }

        .header__circle {
            color: #263238;
        }
    }
}

.basket__menu,
.message__menu,
.notification__menu {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 268px;
    background-color: #ffffff;
    top: 63px;
    right: -10px;
}

.basket__item,
.message__item,
.notification__item {
    position: relative;
    padding: 0px 23px;
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    transition: all .3s;
}

.basket__info,
.message__info,
.notification__info {
    margin-left: 15px;

    &-title {
        color: #263238;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &-category {
        color: #84b743;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 7px;
    }

    &-price {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
    }
}

.busket__sub-total {
    color: #263238;
    font-size: 16px;
    font-weight: 700;
    padding: 17px 40px 17px 29px;
    display: flex;
    justify-content: space-between;
}

.busket__sub {
    a {
        color: #f4f6f5;
        font-size: 14px;
        font-weight: 700;
        padding: 12px 0;
        background-color: $green;
        text-align: center;
        width: 105px;
    }

    .cart {
        margin-left: 17px;
        margin-bottom: 13px;
    }

    .checkout {
        margin-left: 6px;
        margin-bottom: 13px;
        width: 123px;
        background-color: #e85647;
    }
}

.message__name {
    margin-bottom: 9px;
    color: #263238;
    font-size: 12px;
    font-weight: 700;
}

.message__theme,
.notification__theme {
    margin-bottom: 9px;
    color: #84b743;
    font-size: 11px;
    font-weight: 400;
}

.message__date,
.notification__date {
    color: #90a4ae;
    font-size: 10px;
    font-weight: 400;
}

.message__img,
.notification__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.message__menu,
.notification__menu {

    .icon-envelope-o:before,
    .icon-mail-reply:before,
    .icon-bell-o:before {
        position: absolute;
        right: 30px;
        top: 27px;
        color: #b0bec5;
        font-size: 16px;
        font-weight: 400;
    }

    .icons-color::before {
        color: #ef6c00;
    }
}

.notification__info {
    margin-top: 5px;
}

.notification__theme {
    font-size: 12px;
}




// search

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;

    &-ni {
        min-height: 230px;

        .search__inner {
            padding: 60px 0px 65px;

            &-subtitle {
                margin-bottom: 20px;
            }
        }
    }

    &__inner {
        padding: 155px 0px 100px;
        color: #ffffff;
        text-align: center;
        margin: 0 auto;

        &-title {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 10px;
            line-height: 72px;
        }

        &-subtitle {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 30px;
        }

        &-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;
        }

        input {
            padding: 20px 60px 20px 25px;
            display: block;
            width: 100%;
            letter-spacing: 0.7px;
            box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
            border: none;
            border-radius: 4px;
            font-size: 14px;
        }

        &::placeholder {
            color: #90a4ae;
            font-weight: 500;
        }

        button {
            position: absolute;
            right: 20px;
            top: 18px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}


// products
.products {
    padding: 110px 0px;
    background-color: #f4f6f5;

    &__title {
        margin-bottom: 30px;
    }
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        color: #263238;
        padding: 10px 20px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        border: none;
        outline: none !important;

        &+button {
            margin-left: 5px;
        }
    }

    & .mixitup-control-active {
        box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
        background-color: $red;
        color: #fff;
    }
}

.products .products__item {
    flex-basis: calc(25% - 30px);
}

.products__item {
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    transition: all .5s;
    margin-left: 30px;

    &-img {
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 30px 15px 30px;
        border-bottom: 1px solid #e7ecf2;
        color: #70838d;
        font-size: 14px;
        font-weight: 400;
    }

    &-name {
        max-width: 310px;

    }

    &-name a {
        display: block;
        text-align: left;
    }

    &-title {
        color: $bg;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 13px;
    }

    &-category {
        color: $green;
        font-size: 14px;
        font-weight: 500;
    }

    &-price {
        color: $bg;
        font-size: 20px;
        font-weight: 700;
    }

    &-info {
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
    }

    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;
    }

    &-author span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        @include bgi;
        margin-right: 10px;
    }

    &-rating {
        color: $bg;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;
    }

    &-rating span {
        color: #b0bec5;
    }

    .rateYo {
        padding-right: 10px;
    }
}

.products__author-name {
    color: $text;
    font-size: 14px;
    font-weight: 500;
}

.products__inner-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -30px;
}

.products__bottom-btn {
    display: flex;
    justify-content: center;
    color: $bg;
    font-size: 16px;
    font-weight: 400;
    margin-top: 48px;

    button {
        padding: 20px 30px;
        border: none;
        outline: none !important;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);

        &+button {
            margin-left: 12px;
        }
    }

    & .mixitup-control-active {
        box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
        background-color: $red;
        color: #fff;
    }
}

// products slider
.products__slider {
    padding: 100px 0px;

    &-title {
        margin-bottom: 45px;
    }

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            display: inline-block;

            &.slick-active {
                button {
                    background-color: $green;
                }
            }

            button {
                outline: none;
                border: none;
                background-color: #e8e8e8;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                font-size: 0;
                margin-right: 7px;
                cursor: pointer;
            }
        }
    }

    .slick-slide {
        height: auto;
    }
}

// advantages
.advantages {
    background-color: $bg;
    padding: 120px 0px;

    &__title {
        color: #fff;
        margin-bottom: 75px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
        max-width: 318px;

        &:hover {
            .advantages__item-img {
                background-color: $green;

                g {
                    fill: #fff;
                }
            }

            .advantages__item-title {
                color: $green;
            }
        }

        &-title {
            color: #ffffff;
            font-size: 24px;
            font-weight: 500;
            margin-top: 30px;
            margin-bottom: 25px;
            transition: all 0.5s;
        }

        &-text {
            color: #b0bec5;
            font-size: 15px;
            font-weight: 400;
        }

        &-img {
            width: 113px;
            height: 113px;
            border-radius: 50%;
            background-color: #fff;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            transition: all 0.5s;
        }
    }
}

.icosvg1 {
    svg {
        width: 50px;
    }
}

.icosvg2 {
    svg {
        width: 70px;
    }
}

.icosvg3 {
    svg {
        width: 86px;
    }
}

g {
    transition: all 0.5s;
}

// authors
.authors {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 761px;

    &__content {
        display: flex;
        padding: 70px 60px 80px;
        background-color: $green;
        align-items: center;

        &-text {
            color: #ffffff;
            font-size: 30px;
            font-weight: 400;
            max-width: 260px;
            margin-right: 50px;
            line-height: 36px;

            & span {
                font-weight: 700;
            }
        }

        a {
            background-color: #fff;
            padding: 15px 40px;
            border: none;
            outline: none;
            color: $bg;
            font-size: 18px;
            font-weight: 400;
            line-height: 36px;
            cursor: pointer;
        }
    }
}

// tutorial
.tutorial {
    padding: 60px 0px 120px;

    &__title {
        margin-bottom: 55px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;

        &-item {
            max-width: 370px;
            width: 100%;
        }
    }
}

.tutorial__img img {
    display: block;
}

.tutorial__text {
    padding: 40px 0px;
    background-color: #f8f8f8;

    a {
        color: $bg;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
    }
}

// footer
.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 115px 0 100px;
    }

    &__copy {
        padding: 30px 0px;
        text-align: center;
        border-top: 1px solid #424d53;
        color: #919699;
        font-size: 15px;
        font-weight: 400;
    }

    &__col {
        max-width: 270px;
        width: 100%;

        &-title {
            color: #ffffff;
            font-family: Raleway;
            font-size: 22px;
            font-weight: 700;
            padding-bottom: 20px;
            position: relative;
            margin-bottom: 30px;

            &::after {
                content: "";
                position: absolute;
                left: 2px;
                bottom: 0;
                width: 51px;
                height: 3px;
                background-color: #8bc34a;
            }
        }

        &-subtitle {
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 15px;
        }

        &-text {
            color: #b7c3c8;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 30px;
        }
    }

    &__info {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        padding-left: 30px;
        margin-bottom: 25px;
        position: relative;

        &::before {
            position: absolute;
            content: "\f041";
            font-family: 'icomoon';
            left: 0;
            color: $green;
            font-size: 18px;
        }
    }

    .phone-link::before {
        content: "\f095";
    }

    &__col-menu {
        max-width: 220px;

        a {
            color: #b7c3c8;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 13px;
            padding-left: 20px;
            position: relative;

            &::before {
                content: "\f105";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                bottom: 2px;
                color: $green;
                font-size: 18px;
            }
        }
    }
}

.footer__social-link {
    margin-bottom: 33px;

    li {
        display: inline-block;

        &+li {
            margin-left: 5px;
        }

    }

    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/icons/css_sprites.png);
    }
}

.link-twitter {
    background-position: -28px -28px;
}

.link-youtube {
    background-position: -56px -0;
}

.link-pinterest {
    background-position: -0 -28px;
}

.link-inkedin {
    background-position: -28px 0px;
}

.footer__form {
    &-subtitle {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    form {
        position: relative;

        input {
            background-color: #2f3c43;
            padding-left: 15px;
            padding-right: 50px;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            display: block;
            height: 40px;
            width: 100%;
            border: 1px solid;
            border-image-source: linear-gradient(to bottom, #000, #2f3c43, );
            border-image-slice: 1;

            &::placeholder {
                color: #697378;
            }
        }

        button {
            border: none;
            outline: none;
            background-color: $green;
            width: 42px;
            height: 39px;
            position: absolute;
            bottom: 0;
            right: 1px;
            cursor: pointer;

            &::before {
                content: "\f124";
                font-family: 'icomoon';
                position: absolute;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%, 50%);
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

// sidebar-newitem
.product__page {
    .product__page-inner {
        display: flex;
    }
}

.product__page-aside {
    max-width: 270px;
    width: 100%;

    ul {
        padding-bottom: 45px;

        li {
            display: flex;
            justify-content: space-between;

            &+li {
                margin-top: 22px;
            }

            a {
                color: #263238;
                font-size: 15px;
                font-weight: 400;
                padding-left: 18px;
                position: relative;

                &::before {
                    content: "\f105";
                    font-family: 'icomoon';
                    position: absolute;
                    left: 0;
                    color: $green;
                    font-size: 18px;
                }

                &+a {
                    margin-top: 30px;
                }
            }

            span {
                color: #90a4ae;
                margin-left: 10px;
            }
        }
    }
}

.aside__title {
    color: $bg;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #dde3e8;
    padding-bottom: 16px;
    margin-bottom: 26px;
}

.irs-max,
.irs-min {
    display: none;
}

.irs--flat {
    .irs-line {
        height: 5px;
        background-color: #f2f5f8;
        border-radius: 4px;
    }

    .irs-bar {
        height: 5px;
        background-color: #37474f;
    }

    .irs-from,
    .irs-to {
        color: #78909c;
        font-size: 15px;
        font-weight: 400;
        padding: 0;
        background-color: transparent;
        top: 40px;

    }

    .irs-handle {
        top: 20px;
        width: 16px;
        height: 16px;
        border: 3px solid #8bc34a;
        background-color: #ffffff;
        border-radius: 50%;

        &>i:first-child {
            display: none;
        }
    }
}

.irs--flat .irs-from::before,
.irs--flat .irs-single::before,
.irs--flat .irs-to::before {
    display: none
}

.price-range .aside__title {
    margin-bottom: 15px;
}

.range-slider {
    text-align: center;

    button {
        width: 100%;
        background-color: #8bc34a;
        padding: 15px 0;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 30px;
        cursor: pointer;
        position: relative;

        &::before {
            content: "\f002";
            font-family: 'icomoon';
            position: absolute;
            color: #fff;
            left: 60px;
            font-size: 15px;
            font-weight: 400;

        }

    }
}

.top-sellers {
    .aside__title {
        border-bottom: none;
        margin-bottom: 0;
    }

    &-btn a {
        width: 100%;
        text-align: center;
        background-color: #8bc34a;
        padding: 15px 0px;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 30px;
        cursor: pointer;
        position: relative;
        margin-top: 17px;
    }

    .products__item {
        box-shadow: none;
        border-top: 1px solid #dde3e8;
        padding-top: 30px;
        margin-bottom: 0;

        .rateYo {
            padding: 0;
        }

        .products__item-img {
            min-height: 120px;
        }

        &-content {
            padding-left: 0;
            padding-right: 0;
            border-bottom: none;
        }

        &-title {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &-category {
            font-size: 14px;
            font-weight: 500;
        }

        &-price {
            font-size: 16px;
            font-weight: 700;
        }

        &-info {
            padding: 0;
            padding-bottom: 27px;
        }

        &-rating {

            .rate-number {
                display: none;
            }
        }
    }
}

// new-item main
.product__page-content {
    width: 100%;
    margin-left: 30px;
}

.product__page-filter {
    height: 60px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 0;


    .filter-left {
        display: flex;
        line-height: normal;
    }

    .icon-sort-amount-desc {
        color: #455a64;
    }

    .icon-sort {
        font-size: 18px;
    }

    button {
        border: none;
        outline: none;
        background-color: transparent;
        color: #90a4ae;
        font-size: 16px;
        padding: 0px 6px;
        cursor: pointer;

        &.active {
            color: $green;
        }
    }
}

.product__page-items {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-left: -30px;

    .products .products__item {
        flex-basis: calc(33.3333% - 30px);
        margin-left: 30px;

        &-img {
            min-height: 180px;
        }

        &-title {
            font-size: 16px;
            margin-bottom: 10px;
        }

        &-content {
            padding: 23px 20px;
        }

        &-info {
            padding: 20px 20px;
        }
    }
}

.pagination__list {
    margin-top: 30px;

    li {
        display: inline-block;
        box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);

        &+li {
            margin-left: 6px;
        }

        a,
        span {
            color: #263238;
            font-size: 16px;
            font-weight: 500;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 43px;
            height: 38px;

            &.active {
                background-color: $red;
                color: #fff;
            }
        }
    }
}

.product__page-inner {
    margin-bottom: 110px;
}

.product__page-items {
    .products__item {
        &-content {
            padding: 16px 20px;
        }

        &.list {
            max-width: 100%;
            flex-basis: 100%;

            .products__item-img {
                float: left;
                width: 240px;
            }

            .products__item-name {
                max-width: 100%;

                span {
                    display: block;
                }
            }

            .products__item-category {
                margin-bottom: 15px;
            }

            .products__item-price {
                font-size: 30px;

                span {
                    margin-left: 12px;
                }

                .sales {
                    display: block;
                }
            }

            .products__item-comments {
                display: flex;
                align-items: center;

                .icon-comment-o,
                .icon-heart-o {
                    font-size: 12px;
                    font-weight: 400;
                    color: #b0bec5;
                    border-left: 1px solid #aeb4bb;
                    padding-left: 50px;
                    position: relative;

                    span {
                        color: #263238;
                    }
                }

                .icon-comment-o {
                    padding-right: 25px;
                    margin-left: 30px;
                }

                .icon-heart-o:before,
                .icon-comment-o:before {
                    color: #8bc34a;
                    font-size: 16px;
                    font-weight: 400;
                    position: absolute;
                    left: 20px;
                    top: -3px;
                }
            }
        }
    }
}

.products__item-comments {
    display: none;
}

.products__item-name span {
    display: none;
}

.sales {
    color: #aeb4bb;
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
    display: none;
}

.menu__btn {
    display: none;
}

// product-details
.product-det__inner {
    display: flex;
    justify-content: space-between;
}

.product-det {
    background-color: #f4f6f5;
}

.product-det__main {
    max-width: 870px;
}

.product-det__img-wrappper {
    padding: 19px 20px 17px;
    background-color: #fff;
    border: 1px solid #d7d7d7;

    .product-det__img {
        max-width: 829px;
        height: 422px;
    }
}

.product-det__info {
    margin-top: 35px;
    padding-right: 40px;

    .product-det__title {
        color: #263238;
        font-size: 30px;
        font-weight: 500;
    }

    p {
        color: #707070;
        font-size: 16px;
        font-weight: 400;
    }
}

.product-det__links {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 55px;

    .product-det__local {
        a {
            width: 158px;
            display: inline-block;
            padding: 17px 8px;
            color: #f4f6f5;
            font-size: 16px;
            font-weight: 500;

            &+a {
                margin-left: 18px;
            }
        }


        .preview-link {
            background-color: #e74c3c;
        }

        .screenshots-link {
            background-color: #455a64;
        }

        .doc-link {
            background-color: #8bc34a;
        }
    }

    .product-det__social {
        display: flex;

        a {
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            width: 54px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            &+a {
                margin-left: 3px;
            }

        }

        .icon-facebook-f {
            background-color: #6370b6;
        }

        .icon-twitter {
            background-color: #64b5f6;
        }

        .icon-linkedin {
            background-color: #4f71ce;
        }

        .icon-pinterest-p {
            background-color: #d32f2f;
        }
    }
}

.product-det__more {
    margin-bottom: 90px;

    .product-det__more-title {
        color: #263238;
        font-size: 18px;
        font-weight: 500;
        background-color: #fff;
        padding: 20px 0px 20px 25px;
    }

    .product__more-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 28px;

        .product__more-item {
            width: 270px;
            padding: 0;
            margin-bottom: 28px;
            border: none;

            img {
                display: block;
                width: 100px;
                height: 90px;
            }

            .basket__info {
                background-color: #fff;
                margin: 0;
                padding-left: 20px;
                padding-top: 17px;
                width: 170px;
            }

        }
    }
}

.product-det__tabs {
    .tabs {
        display: flex;
        text-align: center;

        .tab {
            width: 100%;
            padding: 23px 10px;
            background-color: #fff;
            position: relative;
            color: #70838d;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #d7d7d7;
            cursor: pointer;

            &+.tab {
                border-left: none;
            }

            &.active {
                color: #263238;
                font-size: 16px;
                font-weight: 500;
                border-bottom: 3px solid $green;
            }
        }
    }
}

.tab_content {
    border: 1px solid #d7d7d7;
    border-top: none;
    padding: 30px 50px 40px;
    background-color: #fff;
    margin-bottom: 52px;

    .tab-list {
        column-count: 2;

        .icon-angle-right {
            position: relative;
            color: #707070;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;

            &:before {
                position: absolute;
                color: #8bc34a;
                top: 2px;
            }
        }

    }

}

.tab-item {
    display: none;

    &:first-child {
        display: block;
    }
}

.aside__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;

    .jq-selectbox__select {

        height: 27px;
        padding: 0 0px 0 10px;
        border: 1px solid #cccccc;
        border-bottom-color: #cccccc;
        border-bottom-color: #cccccc;
        border-radius: 0px;
        background: #ffffff;
        box-shadow: none;
        font: 13px 'Roboto';
        color: #70838d;
        font-weight: 400;
        text-shadow: none;
        width: 82px;
        line-height: 24px;
    }

    .jq-selectbox__trigger {
        position: absolute;
        top: 0;
        right: 0;
        width: 34px;
        height: 100%;
        border-left: 0;

    }

    .jq-selectbox__trigger-arrow {

        position: absolute;
        top: 14px;
        right: 12px;
        width: 0;
        height: 0;
        border-top: none;
        border-right: none;
        border-left: none;

        &::before {
            content: '\f0dd';
            position: absolute;
            width: 8px;
            height: 5px;
            color: $green;
            font-family: 'icomoon';
            font-size: 13px;
            right: -5px;
            top: -18px;
        }
    }

    .jq-selectbox__dropdown ul {

        padding-bottom: 0px;

        li+li {
            margin-top: 5px;
        }

    }

    &-price {
        color: #e74c3c;
        font-size: 22px;
        font-weight: 500;
    }

    &-text {
        color: #70838d;
        font-size: 13px;
        font-weight: 400;
        padding-right: 25px;
        position: relative;

        &:before {
            position: absolute;
            top: -3px;
            right: 10px;
            color: $green;
            font-size: 13px;
            font-weight: 400;
        }
    }
}

.price__link {
    text-align: center;
    padding-bottom: 30px;


    button {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        width: 208px;
        box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
        background-color: #546e7a;
        display: block;
        padding: 15px 10px;
        position: relative;
        border: none;

        outline: none;
        cursor: pointer;

        &+button {
            margin-top: 8px;
        }
    }

    .cart-link {
        background-color: #8bc34a;
        padding-left: 40px;

        &:before {

            position: absolute;
            left: 50px;
            font-size: 16px;
            font-weight: 400;

        }
    }

    .favor-link {
        background-color: #42a5f5;
        padding-left: 30px;

        &:before {
            position: absolute;
            left: 25px;
            font-size: 16px;
            font-weight: 400;

        }
    }
}

.author {
    .author__info {
        display: flex;
        margin-bottom: 30px;

        .author__img {
            width: 73px;
            height: 63px;
        }

        .author__text {
            margin-left: 15px;

            .author__name {
                cursor: pointer;
                color: #263238;
                font-size: 18px;
                font-weight: 400;
            }

            .author-link {
                border: 1px solid #cccccc;
                padding: 8px;
                width: 92px;
                cursor: pointer;
                color: #707070;
                font-size: 13px;
                font-weight: 400;
                margin-top: 8px;
            }
        }

    }

    &__awards-list {
        ul {
            padding-bottom: 30px;

            li {
                width: 34px;
                height: 37px;
                display: inline-block;
                color: #fff;
                font-weight: 400;
                font-size: 18px;
                position: relative;

                &+li {
                    margin-top: 0;
                }

                &:before {
                    position: absolute;
                    top: 42%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.sales-item {
    padding: 23px 30px;

    .icon-shopping-cart {
        color: #263238;
        font-size: 20px;
        font-weight: 700;
        margin-right: 15px;
        padding-left: 35px;
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            color: #a6b5bb;
            font-size: 20px;
            font-weight: 400;
        }
    }

    span {
        color: #707070;
        font-size: 16px;
        font-weight: 300;
    }
}

.product-informatiom {
    padding-bottom: 10px;

    .product__info {
        .product__info-item {
            color: #70838d;
            font-weight: 400;
            margin-bottom: 20px;

            span {
                color: #263238;
                font-size: 14px;
                font-weight: 500;
            }

            &:last-child {
                span {
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

// error-page
.error-page,
.about-page,
.contact-page,
.settings,
.profile,
.upload,
.withdrawals {
    padding-bottom: 150px;
    background-color: #f4f6f5;
}

.error-page__inner,
.about-page__inner,
.contact-page__inner {
    text-align: center;
    background-color: $green;
    border: 1px solid #d7d7d7;
    padding-bottom: 100px;
    color: #ffffff;

    .error-page__title,
    .about-page__title,
    .contact-page__title {
        background-color: #fff;
        border-bottom: 1px solid #d7d7d7;
        color: #444444;
        font-size: 24px;
        font-weight: 500;
        padding: 20px 30px;
        text-align: left;
    }
}

.error-page__content {
    padding-top: 64px;

    .error-page__top {
        display: flex;
        justify-content: center;
    }

    .error-page__number {
        font-family: 'Open Sans', sans-serif;
        font-size: 300px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 300px;
        margin-left: 50px;
    }

    .error__img {
        margin-left: 15px;
    }

    .error-page__subtitle {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 6px;
        margin-bottom: 30px;
        margin-top: 25px;
    }

    .error-page__text {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 500;
        max-width: 529px;
        margin: 0 auto;
        margin-bottom: 50px;

    }

    a {
        color: #ffffff;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: 2px solid #ffffff;
        width: 210px;
        height: 55px;
        padding-top: 20px;
        border-radius: 4px;
    }
}

// about-page
.about-page__inner,
.contact-page__inner {
    background-color: #fff;
    padding: 0;
    text-align: left;

    .about-page__info {
        padding: 40px 65px 0px 50px;

        h3 {
            color: #444444;
            font-size: 20px;
            font-weight: 700;
        }

        p {
            line-height: 24px;
            color: #707070;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 50px;
        }
    }
}

// contact
.contact-page_wrapper {
    padding: 30px 40px 15px;
    color: #333333;

    .contact-page__content {
        display: flex;
        justify-content: space-between;

        .contact-page__info {
            max-width: 265px;
            padding-left: 40px;

            .contact-info__item {
                margin-top: 25px;

                .contact__item-title {
                    font-size: 20px;
                    font-weight: 500;
                    padding-bottom: 20px;
                    margin-bottom: 25px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 44px;
                        height: 4px;
                        background-color: #8bc34a;
                        bottom: 0;
                        left: 0;
                    }

                    &::before {
                        position: absolute;
                        color: #8bc34a;
                        font-size: 24px;
                        font-weight: 400;
                        left: -30px;
                        top: -2;
                    }
                }

                .contact__item-text {
                    color: #707070;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }

        .contact__form {
            max-width: 726px;
            width: 100%;

            &-title {
                font-size: 24px;
                font-weight: 500;
                line-height: 24px;
                margin-top: 30px;
                margin-bottom: 20px;
            }

            input,
            textarea {
                height: 43px;
                background-color: #f1f4f5;
                padding-left: 15px;
                border: none;
                overflow: hidden;
                max-width: 348px;
                width: 100%;
                margin-bottom: 28px;

                &+input {
                    margin-left: 25px;
                }

                &::placeholder {
                    color: #7a7a7a;
                    font-size: 15px;
                    font-weight: 400;

                }
            }

            textarea {
                max-width: 726px;
                width: 100%;
                height: 193px;
                padding-top: 15px;
                resize: none;
            }

            button {
                color: #ffffff;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                width: 190px;
                height: 54px;
                background-color: #8bc34a;
                border: none;
                overflow: hidden;
                cursor: pointer;
            }
        }
    }
}

.contact-page__map {
    margin-bottom: 25px;

    iframe {
        width: 100%;
        height: 414px;
    }
}

// settings
.settings__tabs,
.profile__tabs {
    display: flex;
    justify-content: space-between;

    .tabs {
        max-height: 250px;
        max-width: 270px;
        width: 100%;
        border: 1px solid #d7d7d7;
        background-color: #ffffff;

        .tab {
            padding: 17px 50px;
            display: block;
            cursor: pointer;
            position: relative;
            color: #707070;
            font-size: 14px;
            font-weight: 500;


            &+.tab {
                border-top: 1px solid #d7d7d7;
            }

            &::before {
                left: 22px;
                color: #444444;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .active {
            color: #37474f;
            border-bottom: 2px solid $green;

            &::before {
                color: $green;
            }
        }
    }


    .tab_content {
        max-width: 870px;
        width: 100%;
        border: 1px solid #d7d7d7;
        background-color: #ffffff;
        padding: 0;
        padding-bottom: 80px;

        .personal__info__title {
            color: #263238;
            font-size: 24px;
            font-weight: 500;
            padding: 20px 0px 23px 33px;
            border-bottom: 1px solid #d7d7d7;

        }

        .personal__info-content {
            padding: 35px 37px 0px 39px;

            .info__line {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .jq-selectbox {
                    width: 100%;
                    max-width: 540px;
                }

                .jq-selectbox__select {
                    height: 40px;
                    padding: 0 45px 0 10px;
                    border: 1px solid #d7d7d7;
                    border-bottom-color: #d7d7d7;
                    border-bottom-color:
                        #d7d7d7;
                    border-radius: 0px;
                    background: #f9f9f9;
                    box-shadow: none;
                    font: 15px 'Roboto';
                    color: #707070;
                    text-shadow: none;
                    line-height: 38px;

                }

                .jq-selectbox__trigger {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 34px;
                    height: 100%;
                    border-left: none;
                }

                .jq-selectbox__trigger-arrow {

                    position: relative;
                    border-top: none;
                    border-right: none;
                    border-left: none;

                    &::before {
                        content: '\f0dd';
                        position: absolute;
                        width: 9px;
                        height: 6px;
                        color: #444444;
                        font-family: 'icomoon';
                        right: -30px;
                        top: -18px;
                    }
                }


                &+.info__line {
                    margin-top: 20px;
                }

                label {
                    max-width: 200px;
                    width: 100%;
                    color: #444444;
                    font-weight: 400;
                }
            }

            input,
            select {
                max-width: 540px;
                width: 100%;
                height: 40px;
                border: 1px solid #d7d7d7;
                background-color: #f9f9f9;
                padding-left: 15px;

            }
        }


        button {
            color: #ffffff;
            font-size: 15px;
            font-weight: 500;
            width: 108px;
            height: 46px;
            background-color: #8bc34a;
            border: none;
            margin-top: 25px;
            cursor: pointer;
            margin-left: 250px;
        }
    }
}

.profile__inner {
    display: flex;
    justify-content: space-between;

    .profile__aside {
        .author__info {
            margin-bottom: 46px;
        }

        .author-link.author-status {
            padding-left: 25px;
            position: relative;
            display: inline-block;
            cursor: auto;

            &::before {
                position: absolute;
                content: "";
                width: 9px;
                height: 9px;
                background-color: #8bbe44;
                border-radius: 50%;
                left: 12px;
                top: 10px;

            }
        }

        .footer__social-link {
            margin-top: 24px;
            margin-bottom: 25px;
        }

        .profile__link {
            margin-bottom: 30px;

            a {
                width: 269px;
                height: 54px;
                box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
                background-color: #8bc34a;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                display: block;
                margin-bottom: 17px;
                padding-top: 20px;
                text-align: center;
                position: relative;


            }

            .icon-envelope-o {
                background-color: #546e7a;
                font-weight: 700;

                &::before {
                    position: absolute;
                    left: 60px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }

    .profile__content {
        max-width: 869px;
        width: 100%;

        .profile__banner {
            border: 1px solid #d7d7d7;
            background-color: #ffffff;
            padding: 20px;
            margin-bottom: 30px;

            .profile__banner-img {

                height: 332px;
            }
        }

        .profile__items {
            display: flex;
            border: 1px solid #d7d7d7;
            background-color: #ffffff;
            justify-content: space-between;
            margin-bottom: 30px;

            .profile__item {
                max-width: 216px;
                width: 100%;
                padding: 20px 0px 17px;
                font-size: 14px;
                color: #263238;
                font-weight: 500;
                display: flex;
                justify-content: center;


                &+.profile__item {
                    border-left: 1px solid #d7d7d7;
                }

                .profile__item-title {
                    margin-bottom: 5px;
                }

                .profile__text {
                    color: #707070;
                    font-weight: 400;
                    line-height: 24px;
                }

            }
        }
    }
}

.profile__tabs {
    display: flex;
    justify-content: space-between;

    .tab_content {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .tabs {
        .tab {
            color: #707070;

            &::before {
                position: absolute;
                color: #d0d0d0;
            }

            &.active {
                color: #263238;

                &::before {
                    color: $green;
                }
            }
        }
    }

}

.profile__tab-inner {
    padding: 40px 40px 50px;

    .profile__tab-title {
        color: #263238;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .profile__tab-text {
        color: #707070;
        margin-bottom: 40px;
        padding-right: 5px;

    }

    .profile__content-head {
        display: flex;
        justify-content: space-between;
        color: #263238;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 14px;

        .content__head-name {
            font-style: italic;
        }
    }

    .profile__content-line {
        border-radius: 3px;
        height: 15px;
        background-color: #f4f4f4;

        span {
            display: block;
            background-color: $green;
            border-radius: 3px;
            height: 15px;
        }
    }
}

.profile__content-charac {
    margin-bottom: 20px;
}

// upload 

.upload__inner {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;

    .upload__inner-title {
        color: #263238;
        font-size: 24px;
        font-weight: 500;
        padding: 20px 30px;
        border-bottom: 1px solid #d7d7d7;
    }

    .upload__inner-content {
        padding: 43px 49px 68px;

        .upload__content-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            label {
                color: #444444;
                max-width: 175px;
                padding-right: 15px;
                width: 100%;

                span {
                    color: $green;
                    font-size: 24px;
                    font-weight: 400;
                }
            }

            input,
            textarea,
            select {
                padding-left: 18px;
                padding-right: 18px;
                max-width: 900px;
                width: 100%;
                height: 40px;
                border: 1px solid #d7d7d7;
                background-color: #f9f9f9;

                &::placeholder {
                    color: #707070;
                }
            }

            textarea {
                height: 150px;
                padding: 15px;
                resize: none;
            }
        }

        button {
            width: 124px;
            height: 46px;
            background-color: #8bc34a;
            color: #ffffff;
            font-weight: 500;
            line-height: 24px;
            border: none;
            margin-left: 175px;
            margin-top: 22px;
            cursor: pointer;
        }
    }

    .jq-selectbox {
        width: 100%;
    }

    .jq-selectbox__select {
        height: 40px;
        padding: 0 45px 0 10px;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        border-bottom-color:
            #d7d7d7;
        border-radius: 0px;
        background: #f9f9f9;
        box-shadow: none;
        font: 15px 'Roboto';
        color: #707070;
        text-shadow: none;
        line-height: 38px;

    }

    .jq-selectbox__trigger {
        position: absolute;
        top: 0;
        right: 0;
        width: 34px;
        height: 100%;
        border-left: none;
    }

    .jq-selectbox__trigger-arrow {

        position: relative;
        border-top: none;
        border-right: none;
        border-left: none;

        &::before {
            content: '\f0dd';
            position: absolute;
            width: 9px;
            height: 6px;
            color: #444444;
            font-family: 'icomoon';
            right: -30px;
            top: -18px;
        }
    }

    .jq-file {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;

    }

    .jq-file__name {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0 80px 0 10px;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        border-bottom-color:
            #d7d7d7;
        border-radius: 0px;
        background: #f9f9f9;
        color: #707070;
        box-shadow: none;
        line-height: 38px;
        padding-left: 110px;
    }

    .jq-file__browse {

        position: absolute;
        top: 8px;
        left: 9px;
        right: auto;
        padding: 0 10px;
        border-left: none;
        border-radius: 0px;
        background: #f9f9f9;
        box-shadow: none;
        text-shadow: none;
        width: 89px;
        height: 26px;
        border: 1px solid #d7d7d7;
        background-color: #ffffff;
        line-height: 24px;
        color: #444444;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 400;


    }
}

// withdrawals

.withdrawals__inner {
    display: flex;
    justify-content: space-between;

    .withdrawals__head {
        padding: 18px 30px;
        color: #263238;
        font-size: 24px;
        font-weight: 500;
        border-bottom: 1px solid #d7d7d7;
    }

    .withdrawals-earn,
    .withdrawals-history {
        max-width: 570px;
        width: 100%;
        border: 1px solid #d7d7d7;
        background-color: #ffffff;
        height: max-content;

        .form__wrapper {
            padding: 25px 40px 50px;

            input {
                padding-left: 18px;
                padding-right: 18px;
                width: 100%;
                height: 40px;
                border: 1px solid #d7d7d7;
                background-color: #f9f9f9;

                &::placeholder {
                    color: #707070;
                }
            }

            button {
                width: 202px;
                height: 52px;
                background-color: #8bc34a;
                color: #ffffff;
                font-weight: 500;
                line-height: 24px;
                border: none;
                margin-top: 8px;
                cursor: pointer;
            }

            .withdrawals-earn__item {
                margin-bottom: 30px;

                label {
                    color: #263238;
                    font-size: 16px;
                    font-weight: 500;
                    display: block;
                    margin-bottom: 20px;

                    span {
                        color: $green;
                        font-size: 24px;
                        font-weight: 400;
                    }
                }

                .jq-selectbox {
                    width: 100%;
                }

                .jq-selectbox__select-text {
                    width: 100%;
                }

                .jq-selectbox__select {
                    height: 40px;
                    padding: 0 0px 0 10px;
                    border: 1px solid #d7d7d7;
                    border-bottom-color: #d7d7d7;
                    border-bottom-color:
                        #d7d7d7;
                    border-radius: 0px;
                    background: #f9f9f9;
                    box-shadow: none;
                    font: 15px 'Roboto';
                    color: #707070;
                    text-shadow: none;
                    line-height: 38px;

                }

                .jq-selectbox__trigger {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 34px;
                    height: 100%;
                    border-left: none;
                }

                .jq-selectbox__trigger-arrow {

                    position: relative;
                    border-top: none;
                    border-right: none;
                    border-left: none;

                    &::before {
                        content: '\f0dd';
                        position: absolute;
                        width: 9px;
                        height: 6px;
                        color: #444444;
                        font-family: 'icomoon';
                        right: -30px;
                        top: -18px;
                    }
                }
            }


        }

    }

    .withdrawals-history {

        .withdrawals-history__content {
            padding: 35px 40px;
            color: #444444;
            font-size: 13px;
            font-weight: 700;

            .withdrawals-history__line {
                height: 42px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:nth-child(odd) {
                    background-color: #f9f9f9;

                }

                span {}

                .payment-email {
                    font-weight: 400;
                    width: 175px;
                }

                .payment-date {
                    padding-left: 18px;
                    font-weight: 500;
                    width: 130px;
                }

                .payment-price {
                    width: 70px;
                }

                .payment-status {
                    width: 85px;

                    &.payment-pending {
                        color: #444444;
                    }

                    &.payment-paid {
                        color: $green;
                    }
                }

            }
        }

    }
}

// media
@import "media";